body {
  display: flex;
  justify-content: center;
  text-align: center;
}


div.app{
  display: flex;
  font-size: 1.5rem;
}



button {
  border-radius: 10px;
  border: 1px solid #333;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background: #242424;
  color: #ffffff;
  padding: 0.6em 0.8em;
  box-shadow: inset 0 1px 3px #000000;
}

button:hover {
  border-color: #646cff;
  background: #242424;
  box-shadow: 0 0 6px #646cff66;
}


