body {
  display: flex;
  justify-content: center;
}


div.app{
  display: flex;
  justify-content: center;
}



div.controlls{
  margin-left: 10px;
  display: flex;
  height: 7em;
  flex-wrap: wrap;
  gap: 16px; 
  outline: none;

}


button {
  border-radius: 10px;
  border: 1px solid #333;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #242424;
  color: #ffffff;
  padding: 0.6em 0.8em;
  box-shadow: inset 0 1px 3px #000000;
  width: 100%;
}

button:hover {
  border-color: #646cff;
  background: #242424;
  box-shadow: 0 0 6px #646cff66;
}


.popup-overlay {
  background: rgba(0,0,0,0.3);

}

.settings{
  border-style: solid;
  border-radius: 10px;
  border-color: #646cff;
  box-shadow: 0 0 100px #646cff66;
  
  background: #242424;
  
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
  gap: 10px;
  padding: 10px;

}

button.closeButton{
  margin-top: auto;

}


.settingsForm{
  display: flex;
  gap: 2vw;

}

.settingsInput{
  margin-left: auto;


}
