body {
  display: flex;
  justify-content: center;
}


div.app{
  display: flex;
  justify-content: center;
}



div.controlls{
  margin-left: 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  grid-auto-flow: column;
  gap: 16px; 
  outline: none;

}


button {
  border-radius: 10px;
  border: 1px solid #333;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #242424;
  color: #ffffff;
  padding: 0.6em 0.8em;
  box-shadow: inset 0 1px 3px #000000;
  width: 100%;
}

button:hover {
  border-color: #646cff;
  background: #242424;
  box-shadow: 0 0 6px #646cff66;
}





