.popup-overlay {
  background: rgba(0,0,0,0.3);

}


.settings{
  border-style: solid;
  border-radius: 10px;
  border-color: #646cff;
  box-shadow: 0 0 100px #646cff66;
  
  background: #242424;
  
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
  gap: 10px;
  padding: 10px;

}

button.closeButton{
  margin-top: auto;

}


.settingsForm{
  display: flex;
  gap: 2rem;

}

.settingsInput{
  margin-left: auto;
  width: 7rem;
  box-sizing: border-box;


}

.settingsLabel{
  display: flex;
  align-items: center;
}

@keyframes popupAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.popup-content {
  -webkit-animation: popupAnimation 0.15s forwards;

}


