.popup-overlay {
  background: rgba(0,0,0,0.3);

}

div.controlls{
  margin-left: auto;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  margin-right: 0;
}


.settings{
  border-style: solid;
  border-radius: 10px;
  border-color: #646cff;
  box-shadow: 0 0 100px #646cff66;
  
  background: #242424;
  
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
  gap: 10px;
  padding: 10px;

}

button.closeButton{
  margin-top: auto;

}


.settingsForm{
  display: flex;
  gap: 2rem;

}

.settingsLabel{
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 1.5rem; 

}


.settingsInput{
  /* TODO fix select width on left label linebreak */
  margin-left: auto;
  margin-bottom: 1px !important;
  width: 10rem !important;
  font-size: 1.5rem !important; 
  box-sizing: border-box;

}


@keyframes popupAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.popup-content {
  -webkit-animation: popupAnimation 0.15s forwards;

}


