input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.input {
    resize: none;
    border-radius: 8px;
    border: 1px solid #333;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 0.6em 0.8em;
    transition: height 0.25s ease;
    box-shadow: inset 0 1px 3px #00000066;
    width: 20vw;
    max-width: 15rem;

    outline: 0px;
    overflow: hidden;
    margin-bottom: -10px; /* yep */
}

.input:hover {
    border-color: #646cff;
    box-shadow: 0 0 6px #646cff66;
}

.input:focus {
    border-color: #646cff;
    box-shadow: 0 0 8px #646cff99,
                0 0 20px #646cff66;
    background-color: #242424;
}   
